
.open-sans-normal{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F5F5F5;
  } 
nav ul li{
    list-style: none;
}
nav ul{
    display:flex;
    justify-content: space-between;
    margin: 24px;
}
nav li a {
    text-decoration: none;
   }
nav li a button:hover{
    background-color: #7fe799;
   }
.head{
    font-weight: bolder;
    font-size:32px;
}
.btn1{
    font-weight:bolder;
    font-size: 18px;
    border-radius: 10px;
    padding:15px 30px;
    color:#006A50;
    border-color: #006A50;
    }
.banner{
    display:flex;
    margin:80px;
    align-items: center;
    background-color: #c6e4d6;
    padding:80px 100px ;
    border-radius: 15px;}
.head1{
  font-size: 22px;
  color:grey;

}
.banner-text{
 font-size: 50px
}
.btn2{
 font-size: 18px;
 background-color:#006A50;
 color:aliceblue;
 padding:17px 34px;
 border-radius: 8px;
 border-style:none;
}
.banner-content button:hover{
    background-color: rgb(50, 205, 153);
}
.btn-pic{
   width:474px;
   height: 400px;
}
.part3{
    margin:80px;
}
.h2{
    font-size:40px;
    font-weight:bolder;
    margin: 32px;
}
.part3in{
    display:flex;
}
.part31{
   margin:24px;
   padding:24px;
   background-color: white; 
   border-radius:10px;
}
.part32{
    margin:24px;
    padding:24px;
    background-color: white; 
    border-radius:10px;
}
.part33{
    margin:24px;
    padding:24px;
    background-color: white;
    border-radius:10px; 
}
.part34{
    margin:24px;
    padding:24px;
    background-color: white; 
    border-radius:10px;
}
.h3{
     font-size:40px;
    font-weight:bolder;
}
.part4{
    margin:80px;
}
.part4in{
   display:flex;
}
.btn3{
    background-color:#5490F5;
    color:white;
    border-radius: 5px;
    border-style: none;
    padding:11px 20px;
    margin:10px;
}
.btn4{
    background-color:green;
    color:white;
    border-radius: 5px;
    border-style: none;
    padding:11px 20px;
    margin:10px;
}
.btn5{
    background-color:#FFC239;
    color:white;
    border-radius: 5px;
    border-style: none;
    padding:11px 20px;
    margin:10px;
}
.part41{
    margin:24px;
    padding:32px;
    background-color:#c0cef8; 
    border-radius:10px;
}
.part41 button:hover{
    background-color: #9dbcf5;
}
.part42{
    margin:24px;
    padding:32px;
    background-color:#c6e4d6; 
    border-radius:10px;
}
.part42 button:hover{
    background-color: #7fe799;
}
.part43{
    margin:24px;
    padding:32px;
    background-color:#F7EBCF; 
    border-radius:10px;
}
.part43 button:hover{
    background-color: #beb36b;
}
.a{
    color:grey;
    margin:5px;
    justify-content: space-evenly;
}
.part5{
    margin:80px;
    padding:24px 48px;
    border-radius: 10px;
    background-color: white;
    background-repeat:no-repeat;
   background-image: url(B11A1--assignment-1/assets/quote-bg.png);
}
.yun{
    font-weight:bolder;
}
.yun2{
    color:grey;
    font-size: 16px;}
.part6{
    margin:80px;
}
.h4{
    font-size:40px;
    font-weight:bolder;
}
.tb1{
    background-color:#c6e4d6;
    justify-content: space-between;
    padding:10px;
    border-radius:5px;
}
.b1{
    align-items: center;
}
.b1 button{
    background-color:#c6e4d6;
    color:black;
    border-radius: 5px;
    cursor:pointer;
    padding:5px 10px;
    border-color:black;
    font-weight: bold;
}
.b1 a{
    display:flex;
    color:black;
    text-decoration: none;
    padding:10px;
}
.b1 .content{
    display:none;
    position:absolute;
    color:black;
    background-color: white;
    }
.b1:hover .content{
    display:block;
}
.table{
    background-color: white;
    padding:50px;
    border-color:black;
    border-radius: 5px;
    font-size:20px;
    }
.h5{
    font-size:40px;
    font-weight:bolder;
    margin:32px;
}
.part7{
    margin:80px;
}
.aljazee1,.aljazee2{
    display:flex;
    background-color: white;
    padding:25px;
    border-radius:10px;
    margin:24px;
}
.alja1{
  border-radius:10px;
  margin:32px;
}
.btn6{
    background-color: #006A50;
    color:white;
    border-radius: 5px;
    padding: 13px 26px;
    border-style:none;
    font-weight: bold;
    font-size: 18px;
    margin-top: 32px;
}
.part7 button:hover{
    background-color: #7fe799;
}
.fontc{
    color: #0e0e0e;
    margin-left:32px;
}
.donate{
    text-align: center;
    margin:80px;}

.donate1 button:hover{
    background-color: #7fe799;
}
#donate2{
   font-size: 40px;
   font-weight:bolder;
}
#donate3{
    font-style: normal;
    font-size:16px;
 }
.donate-content{
    display:flex;
    margin-left: 100px;
    align-content: center;
}
.don{background-color:white;
    border-radius:18px;
    margin:12px;
    border-color:lightgray;
    padding:40px;
    font-size: 40px;
    font-weight:bold;
    border-style:solid;
}
.don2{
    background-color:#c6e4d6;
    border-radius:18px;
    margin:12px;
    border-color:lightgray;
    padding:40px;
    font-size: 40px;
    font-weight:bold;
    border-style:solid;
}
#donate4{
    background-color: white;
    font-size: 20px;
    color:grey;
    padding:20px 40px 20px 40px;
    margin:32px;
    border-color: lightgrey;
}
#btn9{
    background-color:#006A50;
    color:white;
    border-radius: 10px;
    font-size: 18px;
    padding:17px 34px;
    border-style: none;
    font-weight: bolder;
    align-items: center;
}
.part8{
    text-align: center;
    margin: 80px;
    background-color: #c6e4d6;
    border-radius: 15px;
    padding:80px 100px; }
#sub-head{
    text-align: center;
    font-size:40px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.subscription{
    display:flex;
    justify-content: center;
    text-align: center;
}
#scam{text-align: center;}
.form-box{
    padding:18px 40px;
    border-radius: 5px;
}
.form-box input{
    font-size:16px;
    color:grey;
    padding:20px 150px 20px 150px;
    border:none;
    outline:none;
    background-color: white;
    border-radius: 10px;
}
.form-box button{
    color:white;
    padding:17px 34px;
    font-size: 18px;
    border:none;
    background-color: #006A50;
    cursor: pointer;
    border-radius: 10px;
    font-weight:bolder;   
}
.form-box button:hover{
      background-color:#9dbcf5;
}
#last{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    padding:50px 160px ;
    margin: 80px 0px 0px 0px;
}
.last{
    background-color: white; 
}
#images{
    display:flex;
    justify-content: center;  
}
.images{
    margin:10px 10px 10px 0px;
    padding:20px;
    width:30px;
}